$main-text-color: #2e2520;
$white-color: #ffffff;
$black-color: #000000;
$placeholder-color: #ab816c;
$main-bg-color: #fffff9;
$secondary-bg-color: #fef3e4;
$button-color: #ab816c;
$icon-color: #674d40;
