<section class="contacts" id="contacts">
  <div class="body__container">
    <h2 class="section__title">Contact</h2>
    <p class="contact__text">We will answer any question!</p>
    <form action="#" class="contaсt__form">
      <input
        type="email"
        name="email"
        class="contact__input"
        placeholder="Email"
        pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*"
      />
      <input type="text" class="contact__input" maxlength="150" placeholder="Type your question" />
      <button type="submit" class="contact__button">Send</button>
    </form>
  </div>
</section>
