<footer class="footer">
  <div class="body__container">
    <address>
      <ul class="social-links">
        <li class="social-links__item">
          <a
            href="https://twitter.com/"
            class="social-links__link"
            target="_blank"
            aria-label="twitter"
          >
            <svg class="social-links__icon">
              <use href="./images/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-links__item">
          <a
            href="https://www.instagram.com/"
            class="social-links__link"
            target="_blank"
            aria-label="instagram"
          >
            <svg class="social-links__icon">
              <use href="./images/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-links__item">
          <a
            href="https://www.facebook.com/"
            class="social-links__link"
            target="_blank"
            aria-label="facebook"
          >
            <svg class="social-links__icon">
              <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="footer__wrapper">
        <a href="tel:(910)222-8855" class="footer__link" aria-label="phone number">
          <svg width="13px" height="13px">
            <use href="./images/icons.svg#phone"></use>
          </svg>
          (910)222-8855
        </a>
        <a href="#" class="footer__link" aria-label="phone number">
          <svg width="13px" height="13px">
            <use href="./images/icons.svg#location"></use>
          </svg>
          New York
        </a>
      </div>
    </address>
  </div>
  <picture>
    <source
      srcset="./images/flour/tablet-flour.png 1x, ./images/flour/tablet-flour@2x.png 2x"
      media="(max-width:767px)"
    />
    <source
      srcset="./images/flour/tablet-flour.png 1x, ./images/flour/tablet-flour@2x.png 2x"
      media="(max-width:1279px)"
    />
    <source
      srcset="./images/flour/desktop-flour.png 1x, ./images/flour/desktop-flour@2x.png 2x"
      media="(min-width:1280px)"
    />
    <img src="./images/flour/desktop-flour.png" alt="Пончик" class="flour" />
  </picture>

  <a class="back_to_top back_to_top--mob"></a>
</footer>
