<header class="page-header">
  <div class="body__container body__container--bgi">
    <div class="body__container--padd-top">
      <nav class="main-nav">
        <a href="./" class="logo">
          <svg class="logo-icon">
            <use href="./images/icons.svg#logo"></use>
          </svg>
        </a>

        <div class="menu-container">
          <ul class="site-nav">
            <li class="site-nav__item">
              <a href="#aboutus" class="site-nav__link"> About us </a>
            </li>
            <li class="site-nav__item">
              <a href="#program" class="site-nav__link"> Program </a>
            </li>
            <li class="site-nav__item">
              <a href="#reviews" class="site-nav__link"> Reviews </a>
            </li>
            <li class="site-nav__item">
              <a href="#contacts" class="site-nav__link"> Contacts </a>
            </li>
          </ul>
        </div>

        <button type="button" class="menu-button" data-menu-button>
          <svg class="menu-button__icon">
            <use
              href="./images/icons.svg#close"
              width="18px"
              height="18px"
              class="menu-button__cross-icon"
            ></use>
            <use
              href="./images/icons.svg#menu"
              width="30px"
              height="16px"
              class="menu-button__menu-icon"
            ></use>
          </svg>
        </button>
      </nav>

      <section class="hero">
        <h1 class="hero__title">Donut Masterclass with the Donut King</h1>
        <p class="hero__text">Hosted by Eva Green</p>
        <button type="button" class="button button--register">
          <a href="#register" class="button__link"> Register </a>
        </button>
        <ul class="social-links social-links--flex-start">
          <li class="social-links__item">
            <a
              href="https://twitter.com/"
              class="social-links__link"
              target="_blank"
              aria-label="twitter"
            >
              <svg class="social-links__icon">
                <use href="./images/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              href="https://www.instagram.com/"
              class="social-links__link"
              target="_blank"
              aria-label="instagram"
            >
              <svg class="social-links__icon">
                <use href="./images/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a
              href="https://www.facebook.com/"
              class="social-links__link"
              target="_blank"
              aria-label="facebook"
            >
              <svg class="social-links__icon">
                <use href="./images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>

        <picture class="donuts-bgi">
          <source
            media="(max-width: 768.9px)"
            srcset="
              ./images/header-donuts/mobile-pic-donuts.webp    1x,
              ./images/header-donuts/mobile-pic-donuts@2x.webp 2x
            "
            type="image/webp"
            sizes="35vw"
          />
          <source
            media="(max-width: 768.9px)"
            srcset="
              ./images/header-donuts/mobile-pic-donuts.png    1x,
              ./images/header-donuts/mobile-pic-donuts@2x.png 2x
            "
            type="image/png"
            sizes="35vw"
          />

          <source
            media="(max-width: 1279.9px)"
            srcset="
              ./images/header-donuts/tablet-pic-donuts.webp    1x,
              ./images/header-donuts/tablet-pic-donuts@2x.webp 2x
            "
            type="image/webp"
            sizes="35vw"
          />
          <source
            media="(max-width: 1279.9px)"
            srcset="
              ./images/header-donuts/tablet-pic-donuts.png    1x,
              ./images/header-donuts/tablet-pic-donuts@2x.png 2x
            "
            type="image/png"
            sizes="35vw"
          />

          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/header-donuts/desktop-pic-donuts.webp    1x,
              ./images/header-donuts/desktop-pic-donuts@2x.webp 2x
            "
            type="image/webp"
            sizes="40vw"
          />

          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/header-donuts/desktop-pic-donuts.png    1x,
              ./images/header-donuts/desktop-pic-donuts@2x.png 2x
            "
            type="image/png"
            sizes="40vw"
          />
          <img src="./images/header-donuts/mobile-pic-donuts.png" alt="пончики" />
        </picture>

        <picture class="spoon-bgi">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/header-spoon/desktop-spoon.webp   1x,
              ./images/header-spoon/desktop-spoon2x.webp 2x
            "
            type="image/webp"
            sizes="15vw"
          />

          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/header-spoon/desktop-spoon.png   1x,
              ./images/header-spoon/desktop-spoon2x.png 2x
            "
            type="image/png"
            sizes="15vw"
          />
          <img src="./images/header-spoon/desktop-spoon.png" alt="Черпак" />
        </picture>
      </section>
    </div>
  </div>
</header>
