<div class="body__container mobile-menu" data-menu>


    <div class="mobile-menu__logo">
        <svg width="190" height="85">
            <use href="./images/icons.svg#logo"></use>
        </svg>
    </div>



    <ul class="mobile-menu__list">
        <li class="mobile-menu__item"><a class="mobile-menu__link section__title" href="">About us</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link section__title" href="">Program</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link section__title" href="">Reviews</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link section__title" href="">Contacts</a></li>
    </ul>





</div>