<div class="body__container body mobile-menu" data-menu>
    <div class="mobile-menu__logo">
        <svg width="190" height="85">
            <use href="./images/icons.svg#logo"></use>
        </svg>
    </div>
    <ul class="mobile-menu__list">
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="#about">About us</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="#program">Program</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="#reviews">Reviews</a></li>
        <li class="mobile-menu__item"><a class="mobile-menu__link" href="#contacts">Contacts</a></li>
    </ul>
</div>