<div class="body__container body mobile-menu" data-menu>
  <nav>
    <a href="./" class="mobile-menu__logo">
      <svg width="190px" height="85px">
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </a>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#aboutus">About us</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#program">Program</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#reviews">Reviews</a></li>
      <li class="mobile-menu__item"><a class="mobile-menu__link" href="#contacts">Contacts</a></li>
    </ul>
  </nav>
</div>
