<!-- Program -->
<section class="body__container flex" id="program">
  <div class="section-program left post">
    <h2 class="section__title left-position">Program</h2>
    <p class="section-text">
      Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
      donut shop!
    </p>
    <ul class="list__text">
      <li class="list__text-item">
        <svg class="list__text-item-icon">
          <use href="./images/icons.svg#icon-donut"></use>
        </svg>
        A stand up history of donuts
      </li>
      <li class="list__text-item">Make 3 donut flavors of your choice</li>
      <li class="list__text-item">Enjoy all-you-can-eat donuts</li>
      <li class="list__text-item">Cocktail pairings and coffee included</li>
      <li class="list__text-item">Photoshoot by professional photographer</li>
      <li class="list__text-item">Secret receipt of cooking from Eva</li>
      <li class="list__text-item">All products are included in the price</li>
    </ul>

    <p class="slide-text hidden-content">
      Come with your dear people and friends and you will spend an unforgettable time and will
      become a real professional in donuts cooking!
    </p>
    <a class="slide-btn action" href="">Read more</a>
  </div>

  <div class="section-program right">
    <ul class="program-list">
      <li class="program-list__item donut-one">
        <h3 class="item-title">Type of the event</h3>
        <p class="item-text">Cooking classes</p>
        <svg class="item-icon">
          <use href="./images/icons.svg#chef-hat"></use>
        </svg>
      </li>
      <li class="program-list__item donut-three">
        <h3 class="item-title">Time of the event</h3>
        <p class="item-text">18:30 (2.5 hours)</p>
        <svg class="item-icon">
          <use href="./images/icons.svg#clock"></use>
        </svg>
      </li>
    </ul>
    <ul class="program-list">
      <li class="program-list__item donut-two">
        <h3 class="item-title">Number of guests</h3>
        <p class="item-text">1 to 20</p>
        <svg class="item-icon">
          <use href="./images/icons.svg#people"></use>
        </svg>
      </li>
      <li class="program-list__item donut-four">
        <h3 class="item-title">The host speaks</h3>
        <p class="item-text">English, French</p>
        <svg class="item-icon">
          <use href="./images/icons.svg#chat"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
