<!-- Program -->
<section class="body__container flex program-section" id="program">
  <div class="program post">
    <h2 class="section__title program__title">Program</h2>
    <p class="program__text">
      Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
      donut shop!
    </p>
    <ul class="list-text">
      <li class="list-text__item">
        <svg class="list-text__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-donut"></use>
        </svg>
        A stand up history of donuts
      </li>
      <li class="list-text__item">
        <svg class="list-text__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-donut"></use>
        </svg>
        Make 3 donut flavors of your choice
      </li>
      <li class="list-text__item">
        <svg class="list-text__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-donut"></use>
        </svg>
        Enjoy all-you-can-eat donuts
      </li>
      <li class="list-text__item">
        <svg class="list-text__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-donut"></use>
        </svg>
        Cocktail pairings and coffee included
      </li>
      <li class="list-text__item">
        <svg class="list-text__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-donut"></use>
        </svg>
        Photoshoot by professional photographer
      </li>
      <li class="list-text__item">
        <svg class="list-text__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-donut"></use>
        </svg>
        Secret receipt of cooking from Eva
      </li>
      <li class="list-text__item">
        <svg class="list-text__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-donut"></use>
        </svg>
        All products are included in the price
      </li>
    </ul>

    <p class="program__slide-text hidden-content">
      Come with your dear people and friends and you will spend an unforgettable time and will
      become a real professional in donuts cooking!
    </p>
    <a class="program__slide-btn action" href="#">Read more</a>
  </div>

  <div class="program program--right">
    <ul class="program-list">
      <li class="program-list__item donut-one">
        <h3 class="program-list__item-title">Type of the event</h3>
        <p class="program-list__text">Cooking classes</p>
        <svg class="program-list__icon">
          <use href="./images/icons.svg#chef-hat"></use>
        </svg>
      </li>
      <li class="program-list__item donut-three">
        <h3 class="program-list__item-title">Time of the event</h3>
        <p class="program-list__text">18:30 (2.5 hours)</p>
        <svg class="program-list__icon">
          <use href="./images/icons.svg#clock"></use>
        </svg>
      </li>
    </ul>
    <ul class="program-list">
      <li class="program-list__item donut-two">
        <h3 class="program-list__item-title">Number of guests</h3>
        <p class="program-list__text">1 to 20</p>
        <svg class="program-list__icon">
          <use href="./images/icons.svg#people"></use>
        </svg>
      </li>
      <li class="program-list__item donut-four">
        <h3 class="program-list__item-title">The host speaks</h3>
        <p class="program-list__text">English, French</p>
        <svg class="program-list__icon">
          <use href="./images/icons.svg#chat"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
