.body__background {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
}
