.social-links {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.social-links__item {
  width: 30px;
  height: 30px;
}

.social-links__item:not(:last-child) {
  margin-right: 12px;
}

.social-links__icon {
  @media screen and (max-width: $tablet-max) {
    width: 19px;
    height: 15px;
  }

  height: 19px;
  width: 24px;
  fill: $main-text-color;
  transition: fill $duration $cubic;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition: background-color $duration $cubic, transform $duration $cubic;

  &:hover,
  &:focus {
    transform: scale(1.2);
    background-color: $accent-color;
  }
}

.social-links__link:hover .social-links__icon {
  fill: $white-color;
}
