.about-us__section {
  padding-bottom: 26px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 68px;
  }

  & .section__title {
    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }
}

.about-us__wrapper {
  @media screen and (min-width: $tablet) {
    width: 336px;
    margin-left: auto;
    position: relative;
  }

  @media screen and (min-width: $desktop) {
    width: 392px;
  }
}

.about-us__text {
  margin-bottom: 18px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 21px;
  }
}

.about-us__link {
  @extend %moreless;
}
.about-us__wrapper::before {
  height: 290px;
  content: '';
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/about-us/mobile-box-cofee-donuts.png');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/about-us/mobile-box-cofee-donuts@2x.png');
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 7px;
    right: calc(100% + 24px);

    width: 330px;
    height: 352px;

    background-image: url('../images/about-us/tablet-box-cofee-donuts.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/about-us/tablet-box-cofee-donuts@2x.png');
    }
  }

  @media screen and (min-width: $desktop) {
    top: -64px;
    right: calc(100% + 76px);

    width: 512px;
    height: 547px;

    background-image: url('../images/about-us/desktop-box-cofee-donuts.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/about-us/desktop-box-cofee-donuts@2x.png');
    }
  }
}
