.about-us__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: flex-end;
  }

  & .section__title {
    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 68px;
  }
}

.about-us__wrapper {
  @media screen and (min-width: $tablet) {
    width: 336px;
  }

  @media screen and (min-width: $desktop) {
    width: 392px;
  }
}

.about-us__text {
  margin-top: 18px;
  &:first-of-type {
    margin-top: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 21px;
  }
}

.about-us__link {
  font-family: $secondary-font;
  font-size: 18px;
  line-height: 3.61;
  color: $button-color;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.about-us__img {
  @media screen and (min-width: $tablet) {
    margin-right: 25px;
    position: absolute;
    top: 7px;
    left: -56px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 76px;
    top: -70px;
    left: -156px;
  }
}
