.contacts {
  padding-bottom: 34px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 37px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 74px;
  }
}
.contact__text {
  text-align: center;
  margin-bottom: 20px;
  // margin 20px взято из расчёта, что line-height из макета по просьбе не был взят, используется стандартный 1,25. input имеет свой padding 1px. А всего у нас должно получиться расстояние 27px по макету, такое же как между input и button. Они равны, мерила линейкой)
}

.contaсt__form {
  display: flex;
  flex-direction: column;
}

.contact__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  width: 145px;

  @media screen and (max-width: $mobile-max) {
    margin-top: 37px;
  }
}

.contact__input {
  background-color: inherit;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid $button-color;
}

.contact__input:invalid {
  border-color: $warning-color;
}

.contact__input:first-child {
  margin-bottom: 15px;

  @media screen and (max-width: $mobile-max) {
    margin-bottom: 25px;
  }
}

.contact__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}
