@media screen and (min-width: $desktop) and (max-width: 1499px) {
  .footer::after {
    position: absolute;
    top: -70%;
    right: 0;
    content: url(../images/flour/desktop-flour.png);
    pointer-events: none;
    z-index: -3;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/flour/desktop-flour@2x.png);
      background-size: 319px;
    }
  }
}

@media screen and (min-width: 1500px) {
  .body__container--footer {
    position: relative;
  }
  .body__container--footer::after {
    position: absolute;
    top: -70%;
    right: -35%;
    content: url(../images/flour/desktop-flour-max.png);
    pointer-events: none;
    z-index: -3;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/flour/desktop-flour-max@2x.png);
    }
  }
}

.footer__wrapper {
  padding-top: 34px;
  // margin-top: 34px;
  // margin-bottom: 19px;
  padding-bottom: 19px;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $tablet) {
    padding-top: 51px;
    // margin-top: 51px;
    // margin-bottom: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: $desktop) {
    // margin-top: 35px;
    padding-top: 35px;
  }
}

.footer__link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  color: $main-text-color;
}

.footer {
  position: relative;
}
.footer__address::after {
  @media screen and (max-width: $mobile-max) {
    content: '';
    height: 64px;
    width: 87px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/flour/mobile-flour.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/flour/mobile-flour@2x.png);
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    position: absolute;
    top: 0;
    right: 0;
    content: url(../images/flour/tablet-flour.png);
    pointer-events: none;
    z-index: -3;
    // background-image: url(../images/flour/tablet-flour.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/flour/tablet-flour@2x.png);
      background-size: 147px;
    }
  }
  // @media screen and (min-width: $desktop) {
  //   height: 184px;
  //   width: 319px;
  //   background-image: url(../images/flour/desktop-flour.png);
  //   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //     background-image: url(../images/flour/desktop-flour@2x.png);
  //   }
  // }
  // @media screen and (min-width: 1500px) {
  //   height: 190px;
  //   width: 362px;
  //   background-image: url(../images/flour/desktop-flour-max.png);
  //   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //     background-image: url(../images/flour/desktop-flour-max@2x.png);
  //   }
  // }
}
