.footer__wrapper {
  padding-top: 34px;
  // margin-top: 34px;
  // margin-bottom: 19px;
  padding-bottom: 19px;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $tablet) {
    padding-top: 51px;
    // margin-top: 51px;
    // margin-bottom: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: $desktop) {
    // margin-top: 35px;
    padding-top: 35px;
  }
}

.footer__link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  color: $main-text-color;
}
.flour {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -2;

  @media screen and (min-width: $tablet) {
  }
}
.footer {
  position: relative;
}
