// .page-header {
//   @media screen and (min-width: $desktop) {
//     background-image: url(../images/header-spoon/desktop-spoon.png);
//     background-position: -60px 166px;
//     background-repeat: no-repeat;
//     background-size: 142px;

//     @media screen and (min-width: $desktop) and (min-device-pixel-ratio: 2),
//       (-webkit-min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       .page-header {
//         background-image: url(../images/header-spoon/desktop-spoon2x.png);
//       }
//     }
//   }
// }

.page-header {
  @media screen and (max-width: $mobile-max) {
    background-image: url(../images/header-donuts/mobile-pic-donuts.png);
    background-repeat: no-repeat;
    background-position: -3% -35%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header-donuts/mobile-pic-donuts@2x.png);
      background-size: 132px;
    }
  }

  // @media screen and (min-width: $desktop) and (max-width: 1499px) {
  //   background-image: url(../images/header-donuts/desktop-pic-donuts-cut.png);
  //   background-repeat: no-repeat;
  //   background-position: 100% 0;
  // }
}

@media screen and (min-width: $desktop) and (max-width: 1499px) {
  .page-header::after {
    position: absolute;
    top: 0;
    right: 0;
    content: url(../images/header-donuts/desktop-pic-donuts-cut.png);
    background-repeat: no-repeat;
    background-position: 100% 0;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header-donuts/desktop-pic-donuts-cut@2x.png);
      background-size: 719px;
    }
  }
}

.body__container--padd-top {
  padding-top: 15px;

  @media screen and (min-width: $tablet) {
    padding-top: 27px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 31px;
  }
}

.body__container--bgi {
  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    background-image: url(../images/header-donuts/tablet-pic-donuts.png);
    background-repeat: no-repeat;
    background-position: 70% 350%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header-donuts/tablet-pic-donuts@2x.png);
      background-size: 380px;
    }
  }

  @media screen and (min-width: $desktop) {
    position: relative;
  }
}

.body__container--padd-top::before {
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 30%;
    right: 110%;
    content: '';
    width: 264px;
    height: 450px;
    background-image: url(../images/header-spoon/desktop-spoon.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header-spoon/desktop-spoon2x.png);
      background-size: 264px;
    }
  }
}

.body__container--padd-top::after {
  @media screen and (min-width: 1500px) {
    position: absolute;
    top: -30%;
    right: -40%;
    content: '';
    width: 795px;
    height: 831px;
    pointer-events: none;
    background-image: url(../images/header-donuts/desktop-pic-donuts.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header-donuts/desktop-pic-donuts@2x.png);
      background-size: 795px;
    }
  }
}

.main-nav {
  position: relative;

  display: flex;
  align-items: center;

  @media screen and (max-width: $mobile-max) {
    height: 76px;
    align-items: center;
    padding-bottom: 33px;
  }
}

// LOGO

.logo {
  @media screen and (max-width: $mobile-max) {
    position: absolute;
    left: 50%;
    top: 7px;
    transform: translateX(-50%);
  }

  @media screen and (min-width: $desktop) {
    margin-right: 38px;
  }
}

.logo-icon {
  fill: $main-text-color;
  display: block;
  width: 96px;
  height: 43px;

  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 71px;
  }
}

// SITE-NAV

.site-nav {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: $desktop) {
  .site-nav {
    display: flex;
  }
}

@media screen and (max-width: $tablet-max) {
  .site-nav {
    display: none;
  }

  .menu-container.is-open .site-nav {
    display: block;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 20px;
}

.site-nav__link {
  color: $main-text-color;

  transition: color $duration $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// BURGER

.menu-button {
  display: inline-flex;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 18px;
  padding: 0;

  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.menu-button.is-open {
  width: 18px;
  height: 18px;
}

.menu-button__icon {
  width: 100%;
  height: 100%;
}

.menu-button__cross-icon {
  display: none;
}

.menu-button.is-open .menu-button__cross-icon {
  display: block;
}

.menu-button.is-open .menu-button__menu-icon {
  display: none;
}
