.reviews {
  padding-bottom: 30px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 62px;
  }

  &__container {
    position: relative;
    min-width: 290px;
    max-width: 626px;
  }

  &__title {
    @media screen and (max-width: $mobile-max) {
      margin-bottom: 0;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 24px;
    }
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item--carrent {
    margin-right: auto;
    margin-left: auto;
    max-width: 626px;
  }

  &__item--left {
    position: absolute;
    left: 48px;
    top: 70px;

    @media screen and (max-width: $mobile-max) {
      display: none;
    }
    @media screen and (min-width: $desktop) {
      left: 0;
    }
  }

  &__item--right {
    position: absolute;
    right: 48px;
    top: 70px;

    @media screen and (max-width: $mobile-max) {
      display: none;
    }
    @media screen and (min-width: $desktop) {
      right: 0;
    }
  }

  &__pagination {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__thumb {
    width: 110px;
    height: 110px;
    margin-bottom: 6px;
    border-radius: 50%;
    overflow: hidden;

    @media screen and (min-width: $desktop) {
      width: 136px;
      height: 136px;
    }
  }

  &__thumb--carrent {
    width: 110px;
    height: 110px;

    @media screen and (min-width: $tablet) {
      width: 186px;
      height: 186px;
    }

    @media screen and (min-width: $desktop) {
      width: 234px;
      height: 234px;
    }
  }

  &__name {
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 4.64;

    @media screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: 4.06;
    }
  }

  &__text {
    padding-bottom: 30px;
    text-align: center;

    @media screen and (min-width: $tablet) {
      padding-bottom: 35px;
    }
  }
}
